@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ededf7;

  /* Propriedades recomendadas para
  minimizar a chance de serrilhamento de fontes
  em certos navegadores/dispositivos */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  /* Fonte usada no design do Figma. */
  font-family: "Fjalla One", sans-serif;
}

.limitador {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}